@{
    ViewBag.Title = "工序信息";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }
</style>

<style type="text/css">
    #msg_win {
        position: absolute;
        right: 0px;
        display: none;
        overflow: hidden;
        z-index: 99;
        border: 1px solid #c00;
        background: #F9EFFC;
        width: 140px;
        font-size: 12px;
        margin: 0px;
    }

        #msg_win .icos {
            position: absolute;
            top: 2px;
            *top: 0px;
            right: 2px;
            z-index: 9;
        }

    .icos a {
        float: left;
        color: #FFFFFF;
        margin: 1px;
        text-align: center;
        font-weight: bold;
        width: 14px;
        height: 22px;
        line-height: 22px;
        padding: 1px;
        text-decoration: none;
        font-family: webdings;
    }

        .icos a:hover {
            color: #FFCC00;
        }

    #msg_title {
        background: #AC19E3;
        border-bottom: 1px solid #710B97;
        border-top: 1px solid #FFF;
        border-left: 1px solid #FFF;
        color: #FFFFFF;
        height: 25px;
        line-height: 25px;
        text-indent: 5px;
        font-weight: bold;
    }

    #msg_content {
        margin: 5px;
        margin-right: 0;
        width: 140px;
        height: 126px;
        overflow: hidden;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        GetGrid();

        //绑定键盘按下事件
        $(document).keypress(function (e) {
            //回车键事件
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });

    var CompanyId = "", DepartmentId = "", DepartmentName = "";


    Date.prototype.pattern = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        var week = {
            "0": "/u65e5",
            "1": "/u4e00",
            "2": "/u4e8c",
            "3": "/u4e09",
            "4": "/u56db",
            "5": "/u4e94",
            "6": "/u516d"
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }

    //搜索
    function btn_Search() {
        var keywords = $("#keywords").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/TrainModule/skill/GridMyListJson")?keywords=" + escape(keywords), page: 1
        }).trigger('reloadGrid');
    }


    //加载表格
    function GetGrid() {
        var SelectRowIndx;
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/TrainModule/skill/GridMyListJson")",
            datatype: "json",
            height: $(window).height() - 178,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'skillid', index: 'skillid', width: 80, align: 'left', hidden: true },
                { label: '技能名称', name: 'skillname', index: 'skillname', width: 450, align: 'left' },


                { label: '考试时间(min)', name: 'examminutes', index: 'examminutes', width: 80, align: 'left' },
                { label: '考试得分', name: 'examscore', index: 'examscore', width: 80, align: 'left' },
                { label: '目标分数', name: 'skillrequire', index: 'skillrequire', width: 80, align: 'left' },


                { label: '最近一次考试的ID', name: 'paperid', index: 'paperid', width: 80, align: 'left', hidden: true },
                { label: '视频的路径', name: 'videosrc', index: 'videosrc', width: 80, align: 'left' },

            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'skillname',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: false,
            //cellattr: addCellAttr,

            // useColSpanStyle:true,
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                //LoadViewList();
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);
            }
        });
        columnModelData("#gridTable");
        //自应高度
        $(window).resize(function () {
            $("#gridTable").setGridHeight($(window).height() - 178);
        });

    }




    function addressFormat(cellvalue, options, rowObject) {
        return cellvalue.replace('~', '../../../../')
    }

    //学习教材
    function btn_study() {
        var KeyValue = GetJqGridRowValue("#gridTable", "skillid");
        if (IsChecked(KeyValue)) {
            var reValue = window.showModalDialog('FileList?SkillID=' + KeyValue, window, 'dialogWidth=800px;dialogHeight=500px;status:1;title:0;');
            if (reValue == undefined) {
                alert("请选择一个教材");
                return false;
            }
            if (reValue[3] == "流程类") {
                window.open("/Resource/Document/NetworkDisk/KnowledgeBase/" + reValue[0]);
            }
            else {
                $.ajax({
                    type: "post",
                    url: "/TrainModule/Skill/CheckFileName?FileID=" + reValue[1],
                    async: false,
                    success: function (msg) {
                        var url = "/Content/Scripts/pdf.js/generic/web/viewer.html?file=" + msg;
                        Dialog(url, "StudyForm", "在线查看文件", 1000, 800);
                    },
                    error: function () {
                        alert("出错了");
                    }
                });
            }



            FullDialog(url, "StudyForm", "学习");
        }


        //if (IsChecked(KeyValue)) {
        //    var url = "/Content/Scripts/pdf.js/generic/web/viewer.html?file=" + file;


        //    Dialog(url, "StudyForm", "学习", 1000, 600);

        //}


    }

    //查看最近的一次考卷
    function btn_history() {
        var KeyValue = GetJqGridRowValue("#gridTable", "paperid");
        if (KeyValue == "")
        {
            alert("你好没有参加过考试");
            return false;
        }
        if (IsChecked(KeyValue)) {
            var url = "/TrainModule/knowledgebase/HistoryExamFormNew?KeyValue=" + KeyValue;
            //openDialog(url, "Form", "编辑", 650, 350, function (iframe) {
            //    top.frames[iframe].AcceptClick()
            //});
            FullDialog(url, "Form", "历史考试页面", function (iframe) {
                top.frames[iframe].AcceptClick();
            });

        }
    }

    //查看视频
    function btn_video() {
        var KeyValue = GetJqGridRowValue("#gridTable", "videosrc");
        if (KeyValue == "") {
            alert("该知识库没有视频");
            return false;
        }
        if (IsChecked(KeyValue)) {
            var url = "/TrainModule/skill/ViewVideo?VideoSrc=" + KeyValue;
            FullDialog(url, "Form", "查看视频");

        }
    }


    function showError(cellvalue, options, rowObject) {

        if (rowObject.paperid == "") {
            alert("你好没有参加过考试");
            return false;
        }
        if (IsChecked(rowObject.paperid)) {
            var url = "/TrainModule/skill/HistoryExamForm?KeyValue=" + rowObject.paperid;
            openDialog(url, "Form", "编辑", 650, 350, function (iframe) {
                top.frames[iframe].AcceptClick()
            });

        }

    }

    function btn_exam() {
        var KeyValue = GetJqGridRowValue("#gridTable", "skillid");
        if (IsChecked(KeyValue))
             {
            var durl = encodeURI('@Url.Action("IsApply", "Skill")?SkillID=' + KeyValue);
                        $.ajax({
                            type: "post",
                            url: durl,
                            async: false,
                            success: function (msg) {
                                if (msg == "0") {

                                    var url = "/TrainModule/skill/ExamForm?KeyValue=" + KeyValue;
                                    FullopenDialog(url, "Form", "考试页面", function (iframe) {
                                        top.frames[iframe].AcceptClick();
                                        windowload();
                                    });
                                }
                                else if (msg == "-1")
                                {
                                    alert("请先提交申请，并且等待审核通过");
                                }
                                else
                                {
                                    alert("发生错误，请重试或者联系管理员");
                                }


                            },
                            error: function () {
                                alert("出错了");
                            }
                        });
        }

    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "skillid");

        if (IsChecked(KeyValue)) {
            var url = "/TrainModule/skill/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑", 650, 350, function (iframe) {
                top.frames[iframe].AcceptClick()
            });

        }
    }

    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "skillid");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/TrainModule/skill/Delete', delparm, KeyValue.split(",").length);
        }
    }

    //申请考试，申请以后由人事部管理
    function btn_apply()
    {
        var KeyValue = GetJqGridRowValue("#gridTable", "skillid");
        if (IsChecked(KeyValue))
        {
            var durl = encodeURI('@Url.Action("ExamApply", "Skill")?SkillID=' + KeyValue);
                        $.ajax({
                            type: "post",
                            url: durl,
                            async: false,
                            success: function (msg) {
                                if (msg == "0") {
                                    alert("提交申请成功，等待批准");
                                }
                                else if (msg == "-1")
                                {
                                    alert("已提交过申请，请不要重复提交");
                                }
                                else
                                {
                                    alert("发生错误，请重试或者联系管理员");
                                }


                            },
                            error: function () {
                                alert("出错了");
                            }
                        });
        }
    }

    //导出Excel
    function btn_derive() {
        SetDeriveExcel("#gridTable", "快速反应");
        openDialog("/CommonModule/ExcelImport/DeriveDialog", "DeriveDialog", "快速反应导出", 600, 300, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }


    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }


    //特定单元格添加超链接，可以实现附件下载，后台要把地址传过来
    function HyperLink() {
        var data = $("#gridTable").jqGrid("getRowData");
        for (var i = 0; i < data.length; i++) {
            data[i].res_ms;
        }
    }

    function dateFormat(cellvalue, options, rowObject) {
        //alert(cellvalue);
        if (cellvalue == "0001-01-01T00:00:00" || cellvalue == null) {
            return "";
        }
        else {
            return String(cellvalue).substring(0, 10);
        }
    }



    //根据日期判断，文本显示红色
    function LengthSub(cellvalue, options, rowObject) {
        var DateNow = new Date();//取今天的日期
        //alert(rowObject.decidedate);
        var DecideDate = new Date(Date.parse(rowObject.decidedate));

        if (cellvalue.length > 20) {
            cellvalue = cellvalue.substring(0, 20) + "....";
        }


        if (DateNow.pattern("yyyy-MM-dd") > DecideDate.pattern("yyyy-MM-dd"))
        {
            cellvalue = "<font color=\"red\">" + cellvalue + "</font>";
        }

        return cellvalue;
    }



</script>

<!--左边-->
<!--中间-->
<div>
    <div class="btnbartitle">
        <div>
            我的学习列表 <span id="CenterTitle"></span>
        </div>
    </div>
    <!--工具栏-->
    <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>

    </div>
    <!--列表-->
    <div id="grid_List">
        <div class="bottomline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px;">
            <table border="0" class="form-find" style="height: 45px;">
                <tr>
                    <th>
                        关键字：
                    </th>
                    <td>
                        <input id="keywords" type="text" class="txt" style="width: 200px" />
                    </td>
                    <td>
                        <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                    </td>
                </tr>
            </table>
        </div>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
    <!--视图-->

</div>

@*<div style="height:2000px;"></div>*@
<div id="msg_win" style="display:block;top:503px;visibility:visible;opacity:1;">
    <div class="icos"><a id="msg_min" title="最小化" href="javascript:void 0">_</a><a id="msg_close" title="关闭" href="javascript:void 0">×</a></div>
    <div id="msg_title">微信扫一扫考试</div>
    <div id="msg_content"><img style="width:130px;height:130px" src="/Resource/Other/1521611152.png" alt="扫一扫开始考试" /></div>
</div>



<script language="javascript">
    var Message = {
        set: function () {//最小化与恢复状态切换
            var set = this.minbtn.status == 1 ? [0, 1, 'block', this.char[0], '最小化'] : [1, 0, 'none', this.char[1], '恢复'];
            this.minbtn.status = set[0];
            this.win.style.borderBottomWidth = set[1];
            this.content.style.display = set[2];
            this.minbtn.innerHTML = set[3]
            this.minbtn.title = set[4];
            this.win.style.top = this.getY().top;
        },
        close: function () {//关闭
            this.win.style.display = 'none';
            window.onscroll = null;
        },
        setOpacity: function (x) {//设置透明度
            var v = x >= 100 ? '' : 'Alpha(opacity=' + x + ')';
            this.win.style.visibility = x <= 0 ? 'hidden' : 'visible';//IE有绝对或相对定位内容不随父透明度变化的bug
            this.win.style.filter = v;
            this.win.style.opacity = x / 100;
        },
        show: function () {//渐显
            clearInterval(this.timer2);
            var me = this, fx = this.fx(0, 100, 0.1), t = 0;
            this.timer2 = setInterval(function () {
                t = fx();
                me.setOpacity(t[0]);
                if (t[1] == 0) { clearInterval(me.timer2) }
            }, 6);//10 to 6
        },
        fx: function (a, b, c) {//缓冲计算
            var cMath = Math[(a - b) > 0 ? "floor" : "ceil"], c = c || 0.1;
            return function () { return [a += cMath((b - a) * c), a - b] }
        },
        getY: function () {//计算移动坐标
            var d = document, b = document.body, e = document.documentElement;
            var s = Math.max(b.scrollTop, e.scrollTop);
            var h = /BackCompat/i.test(document.compatMode) ? b.clientHeight : e.clientHeight;
            var h2 = this.win.offsetHeight;
            return { foot: s + h + h2 + 2 + 'px', top: s + h - h2 - 2 + 'px' }
        },
        moveTo: function (y) {//移动动画
            clearInterval(this.timer);
            var me = this, a = parseInt(this.win.style.top) || 0;
            var fx = this.fx(a, parseInt(y));
            var t = 0;
            this.timer = setInterval(function () {
                t = fx();
                me.win.style.top = t[0] + 'px';
                if (t[1] == 0) {
                    clearInterval(me.timer);
                    me.bind();
                }
            }, 6);//10 to 6
        },
        bind: function () {//绑定窗口滚动条与大小变化事件
            var me = this, st, rt;
            window.onscroll = function () {
                clearTimeout(st);
                clearTimeout(me.timer2);
                me.setOpacity(0);
                st = setTimeout(function () {
                    me.win.style.top = me.getY().top;
                    me.show();
                }, 100);//600 mod 100
            };
            window.onresize = function () {
                clearTimeout(rt);
                rt = setTimeout(function () { me.win.style.top = me.getY().top }, 100);
            }
        },
        init: function () {//创建HTML
            function $(id) { return document.getElementById(id) };
            this.win = $('msg_win');
            var set = { minbtn: 'msg_min', closebtn: 'msg_close', title: 'msg_title', content: 'msg_content' };
            for (var Id in set) { this[Id] = $(set[Id]) };
            var me = this;
            this.minbtn.onclick = function () { me.set(); this.blur() };
            this.closebtn.onclick = function () { me.close() };
            this.char = navigator.userAgent.toLowerCase().indexOf('firefox') + 1 ? ['_', '::', '×'] : ['0', '2', 'r'];//FF不支持webdings字体
            this.minbtn.innerHTML = this.char[0];
            this.closebtn.innerHTML = this.char[2];
            setTimeout(function () {//初始化最先位置
                me.win.style.display = 'block';
                me.win.style.top = me.getY().foot;
                me.moveTo(me.getY().top);
            }, 0);
            return this;
        }
    };
    Message.init();
</script>

