@{
    ViewBag.Title = "工序信息";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

    .differ {
        background-color: #C0FF3E;
    }  
</style>
<script type="text/javascript">
    $(document).ready(function () {
        BindData();
        GetGrid();

        //绑定键盘按下事件
        $(document).keypress(function (e) {
            //回车键事件
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });

    var CompanyId = "", DepartmentId = "", DepartmentName = "";


    Date.prototype.pattern = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        var week = {
            "0": "/u65e5",
            "1": "/u4e00",
            "2": "/u4e8c",
            "3": "/u4e09",
            "4": "/u56db",
            "5": "/u4e94",
            "6": "/u516d"
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }

    //搜索
    function btn_Search() {
        var keywords = "";
        if (CheckIsNullNoTip($("#Year").val())) {
            keywords += " and YEAR(CreateDt)='" + $("#Year").val() + "' ";
        }
        if (CheckIsNullNoTip($("#FromSource").val())) {
            keywords += " and FromSource='" + $("#FromSource").val() + "' ";
        }
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/VPModule/RiskDownFollow/GridPageListJson")?keywords=" + escape(keywords) + "&ResponseBy=" + GetQuery('ResponseBy'), page: 1
        }).trigger('reloadGrid');
    }


    //加载表格
    function GetGrid() {
        var SelectRowIndx;
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/VPModule/RiskDownFollow/GridPageListJson")?ResponseBy=" + GetQuery('ResponseBy'),
            datatype: "json",
            height: $(window).height() - 248,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'followid', index: 'followid', width: 80, align: 'left', hidden: true },
                { label: '高风险项/问题描述', name: 'highriskitem', index: 'highriskitem', width: 300, align: 'left' },
                { label: 'S', name: 'befores', index: 'befores', width: 50, align: 'left' },
                { label: 'O', name: 'beforeo', index: 'beforeo', width: 50, align: 'left' },
                { label: 'D', name: 'befored', index: 'befored', width: 50, align: 'left' },
                { label: 'RPN', name: 'beforerpn', index: 'beforerpn', width: 50, align: 'left' },
                { label: '优先等级', name: 'beforeprioritylevel', index: 'beforeprioritylevel', width: 50, align: 'left' },
                { label: '原因分析', name: 'causeanaly', index: 'causeanaly', width: 150, align: 'left' },
                { label: '行动措施', name: 'actionmeasures', index: 'actionmeasures', width: 150, align: 'left' },
                { label: '主导人', name: 'realname', index: 'realname', width: 80, align: 'left' },
                { label: '计划完成日期', name: 'planfinishdt', index: 'planfinishdt', width: 80, align: 'left', formatter: dateFormat },
                { label: '实施证据', name: 'evidence', index: 'evidence', width: 80, align: 'left',formatter:uploadFormat },
                { label: '完成日期', name: 'realfinishdt', index: 'realfinishdt', width: 80, align: 'left', formatter: dateFormat },
                { label: '有效性', name: 'iseffective', index: 'iseffective', width: 80, align: 'left' },
                { label: 'S', name: 'afters', index: 'afters', width: 50, align: 'left' },
                { label: 'O', name: 'aftero', index: 'aftero', width: 50, align: 'left' },
                { label: 'D', name: 'afterd', index: 'afterd', width: 50, align: 'left' },
                { label: 'RPN', name: 'afterrpn', index: 'afterrpn', width: 50, align: 'left' },
                { label: '优先等级', name: 'afterprioritylevel', index: 'afterprioritylevel', width: 50, align: 'left' },
            ],
            
           
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'planfinishdt',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            multiselect: false,
            //cellattr: addCellAttr,

            // useColSpanStyle:true,
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                //LoadViewList();
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);
            }
        });
        columnModelData("#gridTable");
        //自应高度
        $(window).resize(function () {
            $("#gridTable").setGridHeight($(window).height() - 178);
        });

        $("#gridTable").jqGrid('setGroupHeaders', {
            useColSpanStyle: false,
            groupHeaders: [
                { startColumnName: 'highriskitem', numberOfColumns: 6, titleText: '<div style=\'background-color: #87CEFA;\'><b><font color="white">改善前</font></b></div>' },
                { startColumnName: 'causeanaly', numberOfColumns: 4, titleText: '<div style=\'background-color: #87CEFA;\'><b><font color="white">改善中</font></b></div>' },
                { startColumnName: 'evidence', numberOfColumns: 8, titleText: '<div style=\'background-color: #87CEFA;\'><b><font color="white">改善后</font></b></div>' },
                //evidence
            ]
        })

        var admin = '风险降低管理员('+'@ViewData["admin"]'+')评审';

        $("#gridTable").jqGrid('setGroupHeaders', {
            useColSpanStyle: false,
            groupHeaders: [

                { startColumnName: 'highriskitem', numberOfColumns: 10, titleText: '主导人填写' },
                { startColumnName: 'evidence', numberOfColumns: 2, titleText: '主导人上传' },
                { startColumnName: 'iseffective', numberOfColumns: 6, titleText: admin },
            ]
        })

    }


    @*//高级查询
    var QueryParamJson = "";
    function btn_query() {
        QueryDialog("/Utility/QueryPage", "QueryPage", "查询过滤", 770, 395, function (iframe) {
            top.frames[iframe].QueryClick(function (JsonData) {
                QueryParamJson = JsonData;
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("~/TrainModule/JudgmentQuestion/GridPageListJson")?ParameterJson=" + escape(JsonData), page: 1
                }).trigger('reloadGrid');
            });
        });
    }*@

    //新增
    function btn_add() {
        var url = "/VPModule/RiskDownFollow/Form"
        openDialog(url, "Form", "新增", 650, 350, function (iframe) {
            top.frames[iframe].AcceptClick();
        });
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "followid");
        if (IsChecked(KeyValue)) {
            var url = "/VPModule/RiskDownFollow/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑", 650, 350, function (iframe) {
                top.frames[iframe].AcceptClick()
            });

        }
    }

    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "followid");
        if (IsDelData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/VPModule/RiskDownFollow/Delete', delparm, KeyValue.split(",").length);
        }
    }


    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }


    //特定单元格添加超链接，可以实现附件下载，后台要把地址传过来
    function HyperLink() {
        var data = $("#gridTable").jqGrid("getRowData");
        for (var i = 0; i < data.length; i++) {
            data[i].res_ms;
        }
    }

    function dateFormat(cellvalue, options, rowObject) {
        //alert(cellvalue);
        if (cellvalue == "0001-01-01T00:00:00" || cellvalue == null) {
            return "";
        }
        else {
            return String(cellvalue).substring(0, 10);
        }
    }

    //根据日期判断，文本显示红色
    function LengthSub(cellvalue, options, rowObject) {
        var DateNow = new Date();//取今天的日期
        //alert(rowObject.decidedate);
        var DecideDate = new Date(Date.parse(rowObject.decidedate));

        if (cellvalue.length > 20) {
            cellvalue = cellvalue.substring(0, 20) + "....";
        }


        if (DateNow.pattern("yyyy-MM-dd") > DecideDate.pattern("yyyy-MM-dd"))
        {
            cellvalue = "<font color=\"red\">" + cellvalue + "</font>";
        }

        return cellvalue;
    }

    function uploadFormat(cellvalue, options, rowObject)
    {
        return "<a href=\"#\" onclick=\"uploadform('" + rowObject.followid + "')\">" + cellvalue + "</a>";
    }

    function uploadform(followid)
    {
        var url = "/VPModule/RiskDownFollow/Uploadify?FolderId=" + followid;
        Dialog(url, "Uploadify", "上传文件", 500, 350, function (iframe) {
            top.frames[iframe].AcceptClick()
        });
    }

    function btn_upload() {
        var KeyValue = GetJqGridRowValue("#gridTable", "followid");
        if (IsChecked(KeyValue)) {
            var url = "/VPModule/RiskDownFollow/Uploadify?FolderId=" + KeyValue;
            Dialog(url, "Uploadify", "上传文件", 500, 350, function (iframe) {
                top.frames[iframe].AcceptClick()
            });
        }

    }

    function BindData() {


        $("#Year").html("");

        $("#Year").append("<option value=''>==请选择==</option>");
        AjaxJson("/VPModule/RiskDownFollow/YearListJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#Year").append($("<option></option>").val(DataJson[i].year).html(DataJson[i].year));
            });
        })
    }

</script>

<!--左边-->
<!--中间-->
<div>
    <div class="btnbartitle">
        <div>
            评审内容列表 <span id="CenterTitle"></span>
        </div>
    </div>
    <!--工具栏-->
    <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>

    </div>
    <!--列表-->
    <div id="grid_List">
        <div class="bottomline QueryArea" style="margin: 1px; margin-top: 0px; margin-bottom: 0px">
            <table border="0" class="form-find" style="height: 45px;">
                <tr>
                    <th>
                        年份：
                    </th>
                    <td>
                        <select id="Year" class="select"></select>
                    </td>

                    <th>
                        来源：
                    </th>
                    <td>
                        <select id="FromSource" class="select">
                            <option value="">==请选择==</option>
                            <option value="年度评审改善项">年度评审改善项</option>
                            <option value="快速反应改善项">快速反应改善项</option>
                        </select>
                    </td>

                    <td>
                        <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                    </td>
                </tr>
            </table>
        </div>
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
    <!--视图-->

</div>

