@using LeaRun.Entity;
@using LeaRun.Utilities;
@{
    ViewBag.Title = "项目管理Form";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    FlowDisplay flow = ViewData["flow"] as FlowDisplay;

}

<link href="~/Content/Styles/buttons.css" rel="stylesheet" />
<link href="~/Content/Scripts/jquery.select2/css/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.select2/js/select2.js"></script>

<style>
    #grid td {
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 6px 2px;
    }

    #divFileName {
        width: 310px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }

    #grid td img {
        vertical-align: middle;
        border: 0px solid #fff;
    }

    .uploadify-queue {
        margin-top: 6px;
    }

    .uploadify-queue-item {
        width: 468px;
        padding-top: 8px;
        padding-bottom: 7px;
        margin-top: 0px;
        border-top: none;
    }

        /*.uploadify-queue-item .cancel a {
            display: none;
        }*/

    input {
        background: #E0FFFF;
    }

    textarea {
        background: #E0FFFF;
    }

    select {
        background: #E0FFFF;
    }
</style>


<script type="text/javascript">
    var array = new Array();
    var Approvestatus;
    //$(document).ready(function () {

    //    uploadify();
    //});
    $(function () {
        BindDepartMent();
        ProjectNatureD11();
        InitControl();

        $("#DepartMentID").select2();
        $("#DataProvider").select2();
        //判断新增的时候。如果选择了left项目，公司、部门会自动赋值
        //BindResponseBy();
        $('input[id$="Date"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });

        $('input[id^="ActivityDate"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });

        $('input[id^="PlanStartDate"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });

        $('input[id^="PlanEndDate"]').each(function () {

            var w = this.value.indexOf("T");
            if (w > 0) {
                this.value = this.value.substring(0, w);
            }
            //this.disabled = true;
            //this.readOnly = true;
        });

        if (Approvestatus == "9" || Approvestatus == "-2") {
            var t = document.getElementById("main");
            var a = t.getElementsByTagName("input");
            var b = t.getElementsByTagName("select");
            var c = t.getElementsByTagName("textarea");
            for (var i = 0; i < a.length; i++) {
                a[i].setAttribute("disabled", "true");
            }
            for (var i = 0; i < b.length; i++) {
                b[i].setAttribute("disabled", "true");
            }
            for (var i = 0; i < c.length; i++) {
                c[i].setAttribute("disabled", "true");
            }

            t = document.getElementById("DetailForm");
            a = t.getElementsByTagName("input");
            b = t.getElementsByTagName("select");
            for (var i = 0; i < a.length; i++) {
                a[i].setAttribute("disabled", "true");
            }
            for (var i = 0; i < b.length; i++) {
                b[i].setAttribute("disabled", "true");
            }


            $("#basic a").css("display", "none");
            $("#basic button").css("display", "none");
        }


    })

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/ProjectManageModule/project/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
                Approvestatus = data.Approvestatus;
            });

            var rowindex = 1;
            //题目信息
            AjaxJson("/ProjectManageModule/project/GetDetailList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addone(rowindex);
                    var rowData = JsonData[i];
                    //alert(rowData.FllowStatus);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#UserID➩" + rowindex).val(rowData.UserID);
                    $("#UserName➩" + rowindex).val(rowData.UserName);
                    $("#PostName➩" + rowindex).val(rowData.PostName);
                    $("#Duty➩" + rowindex).val(rowData.Duty);
                    //$("#RelationDID➩" + rowindex).val(rowData.RelationDID);
                    rowindex++;
                    array[i] = rowData.UserID;
                });
            });

            rowindex = 1;
            AjaxJson("/ProjectManageModule/project/GetPlanList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addPlan(rowindex);
                    var rowData = JsonData[i];
                    //alert(rowData.FllowStatus);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#ProjectPlanID➩" + rowindex).val(rowData.ProjectPlanID);
                    $("#ProjectCycle➩" + rowindex).val(rowData.ProjectCycle);
                    $("#PlanStartDate➩" + rowindex).val(rowData.PlanStartDate);
                    $("#PlanEndDate➩" + rowindex).val(rowData.PlanEndDate);
                    //$("#RelationDID➩" + rowindex).val(rowData.RelationDID);
                    rowindex++;

                });
            });

            rowindex = 1;
            AjaxJson("/ProjectManageModule/project/GetTargetList", { KeyValue: GetQuery('KeyValue') }, function (data) {
                var JsonData = data.rows;
                //var colorState = "";
                $.each(JsonData, function (i) {

                    addtarget(rowindex);
                    var rowData = JsonData[i];
                    //alert(rowData.FllowStatus);
                    //alert(rowData.ReviewDepart);ChangeReviewState
                    $("#ProjectTargetID➩" + rowindex).val(rowData.ProjectTargetID);
                    $("#TargetContent➩" + rowindex).val(rowData.TargetContent);
                    $("#BaseNum➩" + rowindex).val(rowData.BaseNum);
                    $("#TargetNum➩" + rowindex).val(rowData.TargetNum);
                    $("#Remark➩" + rowindex).val(rowData.Remark);
                    rowindex++;

                });
            });


        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var DetailForm = GetTableDataJson("#DetailForm");
        var PlanForm = GetTableDataJson("#PlanForm");
        var TargetForm = GetTableDataJson("#TargetForm");


        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["DetailForm"] = DetailForm;
            postData["PlanForm"] = PlanForm;
            postData["TargetForm"] = TargetForm;

            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/ProjectManageModule/project/SubmitForm?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                top.frames[tabiframeId()].windowload();
                closeDialog();
            });
        }, 200);
    }

    function BindDepartMent() {
        $("#DepartMentID").html("");
        $("#DepartMentID").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/DepartmentJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DepartMentID").append($("<option></option>").val(DataJson[i].departmentid).html(DataJson[i].fullname));
            });
        })

        $("#DataProvider").html("");
        $("#DataProvider").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/UserJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#DataProvider").append($("<option></option>").val(DataJson[i].userid).html(DataJson[i].realname));
            });
        })

        $("#ProjectNature").html("");
        $("#ProjectNature").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/ProjectNatureJson", {}, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#ProjectNature").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
            });
        })
    }

    function ProjectNatureD11() {

        //if (CheckIsNullNoTip($("#ProjectNature").val()) == false) {
        //    return false;
        //}

        $("#ProjectNatureD").html("");
        $("#ProjectNatureD").append("<option value=''>==请选择==</option>");
        AjaxJson("/ProjectManageModule/Project/ProjectNatureDJson", { ParentId: $("#ProjectNature").val() }, function (DataJson) {
            $.each(DataJson, function (i) {
                $("#ProjectNatureD").append($("<option></option>").val(DataJson[i].Code).html(DataJson[i].FullName));
            });
        })
    }


    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
        //只剩行首时删除表格
        //if (tbody.rows.length == 1) {
        //    tbody.parentNode.removeChild(tbody);
        //}
        //删除数组中的值
        //removeByValue(array,)
    }

    function removeByValue(arr, val) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == val) {
                arr.splice(i, 1);
                break;
            }
        }
    }

    function addone(i) {
        //alert(i);
        var tab = document.getElementById('DetailForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
        }
        //添加一行;
        var tr = tab.insertRow();

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();

        td1.className = "formValue";
        td2.className = "formValue";
        td3.className = "formValue";
        td4.className = "formValue";


        td1.innerHTML = "<input style=\"width:95%\" readonly id='UserName➩" + i + "' type=\"text\" class=\"txt\"><input readonly id=\"UserID➩" + i + "\" type=\"hidden\" class=\"txt\">";
        td2.innerHTML = "<input id='PostName➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"岗位职责\" checkexpession=\"NotNull\"> ";
        td3.innerHTML = "<input  style=\"width:95%\" id='Duty➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"职责描述\" checkexpession=\"NotNull\">";
        td4.innerHTML = "<button class=\"button button-square button-small\" onclick='deleteCurrentRow(this)'>删除</button>";
    }



    function addtarget(i) {
        var tab = document.getElementById('TargetForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
        }
        //添加一行;
        var tr = tab.insertRow();
        //tr.onmouseover = tr.className = "displayStyle";
        //tr.onmouseout = tr.className = "hideStyle";
        //tr.onclick = function () { this.className = "onClickChangeStyle(this)"; }

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();
        var td5 = tr.insertCell();

        td1.className = "formValue";
        td2.className = "formValue";
        td3.className = "formValue";
        td4.className = "formValue";
        td5.className = "formValue";


        td1.innerHTML = "<input style=\"width:95%\" hidden id='ProjectTargetID➩" + i + "' type=\"text\" class=\"txt\"><input id='TargetContent➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"项目指标\" checkexpession=\"NotNull\">";
        td2.innerHTML = "<input id='BaseNum➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"基准\" checkexpession=\"NotNull\"> ";
        td3.innerHTML = "<input id='TargetNum➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"目标\" checkexpession=\"NotNull\">";
        td4.innerHTML = "<input  style=\"width:95%\" id='Remark➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"备注\" checkexpession=\"NotNull\">";
        td5.innerHTML = "<button  class=\"button button-square button-small\" onclick='deleteCurrentRow(this)'>删除</button>";
    }

    function addPlan(i) {
        var tab = document.getElementById('PlanForm');
        var rowIndex = tab.rows.length + 1;
        if (i == 999) {
            //999表示是新增，-3表示减去3行标题
            i = rowIndex - 2;
        }
        //添加一行;
        var tr = tab.insertRow();
        //tr.onmouseover = tr.className = "displayStyle";
        //tr.onmouseout = tr.className = "hideStyle";
        //tr.onclick = function () { this.className = "onClickChangeStyle(this)"; }

        var td1 = tr.insertCell();
        var td2 = tr.insertCell();
        var td3 = tr.insertCell();
        var td4 = tr.insertCell();


        td1.className = "formValue";
        td2.className = "formValue";
        td3.className = "formValue";
        td4.className = "formValue";



        td1.innerHTML = "<input style=\"width:95%\" hidden id='ProjectPlanID➩" + i + "' type=\"text\" class=\"txt\"><input id='ProjectCycle➩" + i + "' class=\"txt\" datacol=\"yes\" err=\"项目周期\" checkexpession=\"NotNull\">";
        td2.innerHTML = "<input id='PlanStartDate➩" + i + "' class=\"txt Wdate\" onfocus=\"WdatePicker()\"  datacol=\"yes\" err=\"计划开始日期\" checkexpession=\"NotNull\"> ";
        td3.innerHTML = "<input id='PlanEndDate➩" + i + "' class=\"txt Wdate\" onfocus=\"WdatePicker()\"  datacol=\"yes\" err=\"计划结束日期\" checkexpession=\"NotNull\">";

        td4.innerHTML = "<button class=\"button button-square button-small\" onclick='deleteCurrentRow(this)'>删除</button>";
    }

    function addbatch() {

        //////试试用div写
        layer.open({
            type: 2,  //2表示ifrmae弹出层
            title: '用户选择',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['850px', '550px'],
            content: 'UserListBatch'
        });
    }

    function selectSkillChrome(reValue) {//为打开的窗口定义方法，让打开的窗口关闭时通过window.opener赋值回来并执行
        for (var i = 0; i < reValue.length; i++) {


            var tab = document.getElementById('DetailForm');
            var rowIndex = tab.rows.length + 1;
            var j = rowIndex - 2;
            if (!IsExistItem(j, reValue[i].UserID)) {
                addone(999);
                $("#UserName➩" + j).val(reValue[i].UserName);
                $("#UserID➩" + j).val(reValue[i].UserID);
            }
            else {
                top.TipMsg("该用户已存在,不能重复添加", 4000, "error");
            }
        }

    }

    function IsExistItem(index, code) {
        if (!ArrayExists(array, code)) {
            array[index] = code;
            return false;
        } else {
            return true;
        }
    }
</script>


<form id="form1">
    <div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>
                <div id="Tabflow" class="tab_list bd" onclick="Tabchange('flow')">流程信息</div>

            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div style="display:none">
            <input readonly id="Approvestatus" type="text" class="txt" />
            <input readonly id="Constant" type="text" class="txt" />
        </div>
        <div id="basic" class="tabPanel">
            <table id="main" class="form">

                <tr>
                    <th class="formTitle">项目编号：</th>
                    <td class="formValue">

                        <input readonly id="ProjectNO" type="text" class="txt" placeholder="自动生成，无需填写" style="width: 95%" />

                    </td>

                    <th class="formTitle">部门</th>
                    <td class="formValue">
                        <select id="DepartMentID" class="select" datacol="yes" err="部门" checkexpession="NotNull" style="width: 96%"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">登陆日期：</th>
                    <td class="formValue">
                        <input id="CreateDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" err="登陆日期" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">计划完成日期：</th>
                    <td class="formValue">
                        <input id="PlanFinishDate" type="text" class="txt Wdate" onfocus="WdatePicker()" style="background:#E0FFFF" err="计划完成日期" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">项目名称：</th>
                    <td class="formValue" colspan="1">
                        <table style="width:100%">
                            <tr>
                                <td class="formValue" style="width:60%"><input id="ProjectName" type="text" class="txt" datacol="yes" err="项目名称" checkexpession="NotNull" /></td>
                                <th class="formTitle" style="width:15%">方向：</th>
                                <td class="formValue" style="width:25%">
                                    <select id="Direction" class="select" datacol="yes" err="方向：" checkexpession="NotNull" style="width: 96%">
                                        <option value="">==请选择==</option>
                                        <option value="1">1</option>
                                        <option value="-1">-1</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <th class="formTitle">数据提供：</th>
                    <td class="formValue">
                        <select id="DataProvider" class="select" datacol="yes" err="数据提供" checkexpession="NotNull" style="width: 96%"></select>
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">项目性质：</th>
                    <td class="formValue">
                        <table>
                            <tr>
                                <td>
                                    <select id="ProjectNature" class="select" datacol="yes" err="项目性质" onchange="ProjectNatureD11()" checkexpession="NotNull" style="width: 96%"></select>
                                </td>
                                <td>
                                    <select id="ProjectNatureD" class="select" datacol="yes" err="项目性质小类" checkexpession="NotNull" style="width: 96%"></select>
                                </td>
                            </tr>
                        </table>

                    </td>

                    <th class="formTitle">项目状态：</th>
                    <td class="formValue">
                        <input id="ProjectStatus" type="text" class="txt" datacol="yes" err="项目状态" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">项目组长：</th>
                    <td class="formValue">
                        <input id="Master" type="text" class="txt" datacol="yes" err="项目组长" checkexpession="NotNull" />
                    </td>

                    <th class="formTitle">联系电话：</th>
                    <td class="formValue">
                        <input id="Phone" type="text" class="txt" datacol="yes" err="联系电话" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr style="height:20px"><td colspan="4"></td></tr>
                <tr>
                    <th colspan="4" style="text-align:left"><strong> 一、问题与目标;</strong></th>
                </tr>
                <tr>
                    <td colspan="4"> 项目背景及问题描述：<textarea style="width:950px;height:100px" id="Descripe"></textarea> </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="TargetForm" class="formdetail" style="width:98%">
                            <tr>
                                <td colspan="4" style="width:95%"></td>
                                <td style="width:5%"><a class="button button-caution button-square button-small" onclick="addtarget(999)">添加</a></td>
                            </tr>
                            <tr>
                                <th class="formTitle" style="width:15%;text-align:left">项目指标</th>
                                <th class="formTitle" style="width:15%;text-align:left">基准值</th>
                                <th class="formTitle" style="width:15%;text-align:left">目标值</th>
                                <th class="formTitle" style="width:50%;text-align:left">备注</th>
                                <th class="formTitle" style="width:5%;text-align:left">删除</th>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="height:20px"><td colspan="4"></td></tr>
                <tr>
                    <th colspan="4" style="text-align:left"><strong> 二、投入与收益：</strong></th>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="form" style="width:98%">
                            <tr>
                                <th class="formTitle" style="width:25%;text-align:left">预期投入（元）</th>
                                <th class="formTitle" style="width:25%;text-align:left"> 预期年收益（元）</th>
                                <th class="formTitle" style="width:50%;text-align:left">收益计算方法</th>
                            </tr>
                            <tr>
                                <td class="formValue"><input id="ExpectedInput" type="text" class="txt" datacol="yes" err="预期投入（元）" checkexpession="NotNull" style="width:98%" /></td>
                                <td class="formValue"><input id="ExpectedEarnings" type="text" class="txt" datacol="yes" err="预期收益（元）" checkexpession="NotNull" style="width:98%" /></td>

                                <td class="formValue"><input id="CalculationFormula" type="text" class="txt" datacol="yes" err="收益计算方法" checkexpession="NotNull" style="width:98%" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:20px"><td colspan="4"></td></tr>
                <tr>
                    <th colspan="4" style="text-align:left"><strong> 三、项目团队</strong></th>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="DetailForm" class="formdetail" style="width:98%">
                            <tr><td colspan="3" style="width:95%"></td><td style="width:5%"><a class="button button-caution button-square button-small" onclick="addbatch()">添加</a></td></tr>
                            <tr>
                                <th class="formTitle" style="width:20%;text-align:left">用户名</th>
                                <th class="formTitle" style="width:20%;text-align:left">岗位</th>
                                <th class="formTitle" style="width:55%;text-align:left">职责描述</th>

                                <th class="formTitle" style="width:5%;text-align:left">删除</th>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <th colspan="4" style="text-align:left"><strong> 四、项目计划</strong></th>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="PlanForm" class="formdetail" style="width:98%">
                            <tr><td colspan="3" style="width:95%"></td><td style="width:5%"><a class="button button-caution button-square button-small" onclick="addPlan(999)">添加</a></td></tr>
                            <tr>
                                <th class="formTitle" style="width:45%;text-align:left">里程碑</th>
                                <th class="formTitle" style="width:25%;text-align:left">计划开始时间</th>
                                <th class="formTitle" style="width:25%;text-align:left">计划结束时间</th>

                                <th class="formTitle" style="width:5%;text-align:left">删除</th>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>




        </div>
        <div id="flow" class="tabPanel" style="display:none">
            @if (flow != null)
            {
            <h2>流程信息</h2>
            <div>
                <table class="form">
                    <tr>
                        <td colspan="6">流程模板:   @flow.FlowName   &nbsp;&nbsp;&nbsp;&nbsp; 状态:@flow.ApprovestatusCN  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前审批人: @flow.RealName</td>
                    </tr>
                    @for (int i = 0; i < flow.LogList.Count; i++)
                    {
                        <tr>
                            <td width="10%"><b>节点岗位:</b></td>
                            <td width="20%">@flow.LogList[i].FullName </td>
                            <td width="10%"><b>节点操作者：</b></td>
                            <td width="25%">@flow.LogList[i].RealName </td>
                            <td width="10%"><b>状态:</b></td>
                            <td width="25%">@flow.LogList[i].Approvestatus</td>
                        </tr>

                    }
                </table>

                @if (flow.Approvestatus == 0)
                {
                    <div>
                        <a class="button  button-primary button-rounded button-small" onclick="submit(0)">提交</a>
                    </div>
                    <br>

                    <div><b>处理意见(选填)：</b><input id="ProcessOpinion" type="text" /></div>

                }
                else if (flow.Approvestatus == 7 && flow.CurrentPerson == ManageProvider.Provider.Current().UserId)
                {
                    <div>
                        <a class="button  button-primary button-rounded button-small" onclick="submit(1)">审批</a>
                        <a class="button  button-primary button-rounded button-small" onclick="submit(-1)">退回</a>
                        <a class="button  button-caution button-rounded button-small" onclick="submit(-9)">终止</a>
                    </div>
                    <br>
                    <div><b>处理意见(选填)：</b><input id="ProcessOpinion" type="text" /></div>
                }
                else if (flow.Approvestatus == 7 && ManageProvider.Provider.Current().ObjectId.IndexOf(flow.CurrentPost) > 0)
                {
                    <div>
                        <a class="button button-primary button-rounded button-small" onclick="submit(2)">（代）审批</a>
                        <a class="button button-primary button-rounded button-small" onclick="submit(-2)">（代）退回</a>
                        <a class="button  button-caution button-rounded button-small" onclick="submit(-92)">（代）终止</a>
                    </div>
                    <br>
                    <div><b>处理意见(选填)：</b><input id="ProcessOpinion" type="text" /></div>
                }

                <br>
                <br>


                @if (flow.Approvestatus == 0)
                {
                    <a class="button button-glow button-rounded button-raised button-small" id="-1" onclick="ChangeColor(this.id)">发起人提交</a> <a>--></a>
                }
                else
                {
                    <a class="button button-glow button-border button-rounded button-small" id="-1" onclick="ChangeColor(this.id)">发起人提交</a> <a>--></a>
                }
                @for (int i = 0; i < flow.LogList.Count; i++)
                {
                    if (flow.LogList[i].FullName == flow.FullName)
                    {
                        <a class="button button-glow button-rounded button-raised button-small" id="@flow.LogList[i].StepNO" onclick="ChangeColor(this.id)">@flow.LogList[i].FullName</a> <a>--></a>
                    }
                    else
                    {
                        <a class="button button-glow button-border button-rounded button-small" id="@flow.LogList[i].StepNO" onclick="ChangeColor(this.id)">@flow.LogList[i].FullName</a> <a>--></a>
                    }
                }
                @if (flow.Approvestatus == 9)
                {
                    <a class="button button-glow button-rounded button-raised button-small">结束</a>
                }
                else
                {
                    <a class="button button-glow button-border button-rounded button-small">结束</a>
                }


            </div>
            <br>
            <br>
            <h2>签署记录</h2>
            <div>
                @if (flow.ApproveList.Count > 0)
                {
                    for (int i = 0; i < flow.ApproveList.Count; i++)
                    {
                        <div>@flow.ApproveList[i].Approvestatus   &nbsp;&nbsp;操作日期：@flow.ApproveList[i].ApproveDate</div><br>

                    }
                }
                else
                {
                    <div>暂无签署记录</div>
                }
            </div>
            }
        </div>


    </div>

</form>
