@using System.Data
@{
    ViewBag.Title = "PrintPage";
    DataTable dt = ViewData["dt"] as DataTable;

    DataTable dtMember = ViewData["dtMember"] as DataTable;

    DataTable dtPlan = ViewData["dtPlan"] as DataTable;

    DataTable dtTarget = ViewData["dtTarget"] as DataTable;


    DataTable dtFlow = ViewData["dtFlow"] as DataTable;

}

<link href="~/Content/Scripts/jqprint/PrintCss.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
<script src="~/Content/Scripts/learunui-framework.js"></script>
<script src="~/Content/Scripts/jqprint/jquery.jqprint-0.3.js"></script>


<div id="my_area">
    <div class="logo" style="text-align:center">
        <img src="~/Content/福耀集团(上海)汽车玻璃有限公司.png" height="50" width="500" style="text-align:center;vertical-align:middle">
        </br>
        <h2>@dt.Rows[0]["ProjectName"]</h2>

    </div>

    <div style="text-align:center">
        <table style="text-align:center;width:80%" align="center" class="gridtable">
            @*<tr>
            <th width="10%">问题描述</th>
            <td width="90%" colspan="7" id="w1">@dt.Rows[0]["问题描述"]</td>
        </tr>*@
            <tr>
                <th width="20%">项目编号</th>
                <td width="30%">@dt.Rows[0]["ProjectNO"]</td>

                <th width="20%">所属部门</th>
                <td width="30%">@dt.Rows[0]["FullName"]</td>
            </tr>
            <tr>
                <th width="20%">项目名称</th>
                <td width="30%">@dt.Rows[0]["ProjectName"]</td>
                <th width="20%">数据提供人</th>
                <td width="30%">@dt.Rows[0]["RealName"]</td>
            </tr>
            <tr>
                <th width="20%">项目性质</th>
                <td width="30%">@dt.Rows[0]["ProjectNature"]</td>
                <th width="20%">项目组长</th>
                <td width="30%">@dt.Rows[0]["Master"] （@dt.Rows[0]["Phone"]） </td>
            </tr>
            <tr style="height:20px"><td colspan="4" style="text-align:left"><strong>一、问题与目标</strong></td></tr>
            <tr>
                <td colspan="4" id="w1" style="text-align:left">
                    项目背景及问题描述：<br>
                    @dt.Rows[0]["Descripe"]
                </td>
            </tr>
            <tr>
                <th>项目指标(单位)</th>
                <th>基准值 </th>
                <th>目标值 </th>
                
                <th>备注 </th>
            </tr>
            @for (int i = 0; i < dtTarget.Rows.Count; i++)
    {
            <tr>
                <td>@dtTarget.Rows[i]["TargetContent"] ( @dtTarget.Rows[i]["NumUnit"] )</td>
                <td>@dtTarget.Rows[i]["BaseNum"]</td>
                <td>@dtTarget.Rows[i]["TargetNum"]</td>
               
                <td>@dtTarget.Rows[i]["Remark"]</td>
            </tr>
}
            <tr style="height:20px">
                <td colspan="4" style="text-align:left"><strong>二、投入与收益</strong></td>
            </tr>
            <tr>
                <th>预期投入（元）</th>
                <th>预期年收益（元）</th>
                <th colspan="2" width="20%">收益计算方法</th>

            </tr>
            <tr>
                <td>@dt.Rows[0]["ExpectedInput"]</td>
                <td>@dt.Rows[0]["ExpectedEarnings"]</td>
                <td colspan="2">@dt.Rows[0]["CalculationFormula"]</td>

            </tr>

            <tr style="height:20px"><td colspan="4" style="text-align:left"><strong>三、项目团队</strong></td></tr>
            <tr>
                <th>姓名</th>
                <th>部门</th>
                <th>岗位</th>
                <th>职责描述</th>
            </tr>
            @for (int i = 0; i < dtMember.Rows.Count; i++)
    {
            <tr>
                <td>@dtMember.Rows[i]["UserName"]</td>
                <td>@dtMember.Rows[i]["DeptName"]</td>
                <td>@dtMember.Rows[i]["PostName"]</td>
                <td>@dtMember.Rows[i]["Duty"]</td>
            </tr>
}

            <tr style="height:20px"><td colspan="4" style="text-align:left"><strong>四、项目计划</strong></td></tr>
            <tr>
                <th colspan="2">项目周期</th>
                <th>计划开始时间</th>
                <th>计划结束时间</th>

            </tr>
            @for (int i = 0; i < dtPlan.Rows.Count; i++)
    {
        <tr>
            <td colspan="2">@dtPlan.Rows[i]["ProjectCycle"]</td>
            <td>@dtPlan.Rows[i]["PlanStartDate"]</td>
            <td>@dtPlan.Rows[i]["PlanEndDate"]</td>
        </tr>
}
            <tr style="height:20px"><td colspan="4" style="text-align:left"><strong>五、项目审批</strong></td></tr>
            <tr>
                <th width="20%">项目组长</th>
                <td width="30%">@dt.Rows[0]["Master"]</td>

                <th width="20%">部门主管</th>
                <td width="30%">@dtFlow.Rows[0][0]</td>
            </tr>
            <tr>
                <th width="20%">财务部</th>
                <td width="30%">@dtFlow.Rows[2][0]</td>

                <th width="20%">精益部</th>
                <td width="30%">@dtFlow.Rows[3][0]</td>
            </tr>
            <tr>
                <th width="20%">批准</th>
                <td colspan="3"></td>
            </tr>

        </table>
    </div>
</div>

<script>
    function SubmitPrint() {
        $("#my_area").jqprint();
    }

     $(document).ready(function () {

         var reg = new RegExp('↵', "g");
         //var temp = document.getElementById("printRemark").value;
         //alert(temp);
         document.getElementById("w1").innerHTML = document.getElementById("w1").innerHTML.replace(reg, '</br>');
         document.getElementById("w2").innerHTML = document.getElementById("w2").innerHTML.replace(reg, '</br>');
         document.getElementById("w3").innerHTML = document.getElementById("w3").innerHTML.replace(reg, '</br>');
         //$("#printRemark").val($("#printRemark").val().replace(reg, '</br>'));
         //alert(11);
         //value = value.replace(reg, '\r\n');
    });
</script>